
    body{
      background-color: lightblue;
    color: #FFFF66;
    
    font-family: 'PT Sans Narrow', sans-serif;
     background-image: url(https://download.unsplash.com/photo-1435459025078-9857f8933bc9);
     background-size: cover;
    }
    h1 { 
      color: #FF6600;
    font-family: 'Slabo 27px', serif;
      
    }
    h2 {
      color: #FF6600;
    
  }

