
    body{
      background-color: lightblue;
    color: #FFFF66;
    text-align: center;
    
    font-family: 'PT Sans Narrow', sans-serif;
     background-image: url(https://download.unsplash.com/photo-1435459025078-9857f8933bc9);
     background-size: cover;
    }
    h1 { 
      color: #FF6600;
    font-family: 'Slabo 27px', serif;
      
    }
    h2 {
      color: #FF6600;
    text-decoration: none;
    background-color: #F00
    border-radius: 30px;
  }
img {
    width: 200;
}
nav a{
    color: #FFF;
}
nav a:visited{
    color: #FFF;
}

}
section {
  background-color: red;
  height: 250px;
  width: 100%;
